node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/
.idea/
*.log
.DS_Store
yarn.lock

**/NotoSansJPFonts/*.ts
**/NotoSansJPFonts/*.ttf
!**/NotoSansJPFonts/NotoSansJPBold.ts
!**/NotoSansJPFonts/*.md

**/ReithSans/*.ts
**/ReithSans/*.woff2
!**/ReithSans/ReithSansBold.ts
!**/ReithSans/*.md

**/ReithSerif/